@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav: 255 255 255;
  --background: 250 250 250;
  --main: 24 24 27;
  --border: 228 228 231;
  --primary: 40 183 215;
  --secondary: 226 248 248;
  --input: 45 45 50;
  --hover: 30 193 230;
  --btn-primary: 40 183 215;
  --btn-secondary: 240 240 240;
  --funds: 6 95 70;
}

.dark {
  --nav: 24 24 27;
  --background: 47 47 54; /* 30 30 34 */
  --main: 245 245 245;
  --border: 48 48 51;
  --primary: 100 116 139;
  --secondary: 38 38 42;
  --input: 58 58 63;
  --text-input2: 58 58 63;
  --text: 255 255 255;
  --hover: 71 85 105;
  --btn-primary: 100 116 139;
  --btn-secondary: 60 60 65;
  --funds: 167 243 208;
}

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, .card-title {
  font-family: 'Montserrat', sans-serif;
}

.tab-btn {
  @apply px-4 py-2 bg-btn-primary text-text rounded hover:bg-hover transition;
}

.tab-btn.active {
  @apply bg-hover text-text font-bold;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

.sr-only {
  color: rgb(var(--text));
}
