@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav: 196 217 255;
  --background: 246 240 240;
  --main: 27 38 44;
  --border: 93 95 94;
  --primary: 196 217 255;
  --secondary: 196 217 255;
  --text-input: 58 58 63;
  --hover: 166 77 121;
  --btn-primary: 143 135 241;
  --btn-secondary: 255 138 138;
  --funds: 6 95 70;
}

.dark {
  --nav: 49 54 63;
  --background: 27 38 44;
  --main: 187 225 250;
  --hover: 143 135 241;
  --text: 255 255 255;
  --text-input: 58 58 63;
  --primary: 15 76 117;
  --secondary: 49 54 63;
  --tertiary: 146 144 195;
  --btn-primary: 106 30 85;
  --btn-secondary: 136 48 78;
  --funds: 167 243 208;
}

.tab-btn {
  @apply px-4 py-2 bg-btn-primary text-text rounded hover:bg-hover transition;
}

.tab-btn.active {
  @apply bg-hover text-black font-bold;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}
